ARCHMODE   z/Arch
OSTAILOR   z/OS
LOADPARM   01234567
CPUSERIAL  111111
CPUMODEL   2222
CPUVERID   33
LPARNAME   HERCULES
LPARNUM    42
MODEL      EMULATOR
PLANT      ZZ
MANUFACTURER HRC
MAINSIZE   64
XPNDSIZE   0
NUMCPU     1
NUMVEC     1
MAXCPU     8
ENGINES    CP
CNSLPORT   3270

0009    3215
000C    3505    ./zvmasm.bin
